<h1>Schedules</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>Room</th>
      <% 10.times do |n| %>
      <th><%= n+1 %></th>
      <% end %>
    </thead>

    <tbody>
      <% @rooms.each do |room|%>
        <% schedule = @schedules.select { |w| w.room_id == room.id }%>
        <tr>
          <td><%= room.name %></td>
            <% 10.times do |n|%>
              <% flag = false %>
              <% schedule.each do |s|%>
                <% if (n+1) >= s.period_start && (n+1) <= s.period_end %>
                  <td><%= link_to s.course.name, schedule_path(s.id) %></td>
                  <% flag = true %>
                  <% break %>
                <% end %>
              <% end %>
              <% if flag == true %>
                <% next %>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
